{% load i18n %}
{% load account_tags %}


<ul class="nav navbar-nav pull-right">
    {% if request.user.is_authenticated %}
      <li >
        <a type="button" id="add_expense" href="#" data-dismiss="modal" data-toggle="modal" data-target="#addModal">
          <i class="fa fa-plus" ></i> Add Expense
        </a>
       </li>

       <li >
         <a id="report_btn" href="#" data-dismiss="modal" data-toggle="modal" data-target="#reportModal">
          <i class="fa fa-file"></i> Report
          </a>
        </li>
        <li class="navbar-text">
            <i class="fa fa-user"></i> {% user_display request.user %}
        </li>

        <li>
            <a id="account_logout" href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i> {% trans "Log out" %}</a>
        </li>
    {% else %}
        <li><a href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></li>
        {% endif %}
    {% endif %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
</form>
