{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Expenses{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
{% if not user.is_authenticated %}
    <section class="jumbotron">

        <div class="container">
            {% include "_messages.html" %}

            <h1>{% blocktrans %}Welcome to<br>Expense Tracker{% endblocktrans %}</h1>
            <p>
                {% blocktrans %}
                {% endblocktrans %}
            </p>
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
        </div>
    </section>

    <section>
        <div class="container">
            <p class="lead text-center">
            </p>
        </div>
    </section>
{% endif %}
{% if user.is_authenticated %}
{% verbatim myblock %}

<div ng-app="expensesApp">
  <div ng-controller="ExpenseListController">
    <ul>
    <li ng-repeat="expense in expenses track by $index">
      <span>{{expense.description}}</span>
      <p>${{expense.amount}}</p>
      <a id="update" ng-show="{{expense.created_by}} == {{userId}}" data-dismiss="modal" data-toggle="modal" data-target="#addModal" ng-click="updateClicked(expense.id, $index)">Update</a>
      <a id="delete{{expense.id}}" ng-show="{{expense.created_by}} == {{userId}}" ng-click="removeTask(expense.id, $index)">Delete</a>
      <hr/>

    </li>
  </ul>


<div id="addModal" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Expense</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label class="sr-only" for="description">Description:</label>
            <input id="description" type="text" class="form-control" placeholder="Rent" id="description">
          </div>
          <div class="form-group">
            <label class="sr-only" for="amount">Amount: $</label>
            <input id="amount" type="text" class="form-control" placeholder="$0.00" id="amount">
          </div>
          <div class="form-group hidden date-group">
          <label class="sr-only" for="date">Date: $</label>
          <input id="date" type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="save_expense" type="button" data-dismiss="modal" class="btn btn-primary" ng-click="saveExpense()">Save</button>
        <button id="update_expense" type="button" data-dismiss="modal" class="btn btn-primary hidden" expense-id="" ng-click="putExpense()">Update</button>
      </div>
    </div>
  </div>
    </div>
</div>

<div ng-controller="ExpenseReportController">
  <div id="reportModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4>Report</h4>
        </div>
        <div class="modal-body">
          <input type="text" name="daterange" value="01/11/2016 00:0 AM - 01/01/2030 2:00 PM" />

          <canvas id="myChart" width="400" height="400"></canvas>

          <ul>
          <li ng-repeat="expense in expenses track by $index">
            <span>{{expense.description}}</span>
            <p>${{expense.amount}}</p>
            <hr/>
          </li>
        </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
      </div>

</div>


</div>



{% endverbatim myblock %}

{% endif %}


{% endblock %}
